main.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow-x: hidden ;
}

.img{
  border-radius: 5px;
  width: 1000px;
  height: 600px;
}

.fraseText{
  text-align: justify;
  width: 550px;
}